services:
  shebot:
    image: shebot:latest
    restart: always
    ports:
      - 9000:9000
    working_dir: /app
    volumes:
      - hinata_data:/app/data
      - ./.env.prod:/app/.env.prod
    networks:
      - app-network

  llonebot:
    volumes:
        - ./QQ:/root/.config/QQ # 挂载 QQ 配置目录
        - ./llonebot:/root/llonebot # 挂载 llonebot 数据目录
        - hinata_data:/app/data 
    ports:
        - 3000:3000 # OneBot HTTP 端口
        - 3001:3001 # OneBot WebSocket 端口
        - 5600:5600 # Satori 端口
        - 3080:3080 # webui
    restart: always
    image: initialencounter/llonebot:latest
    networks:
      - app-network

volumes:
  hinata_data:
    driver: local

networks:
  app-network:
    driver: bridge
    name: app-network