{
  "_comment": "PT 下载 Skill 配置文件，将此文件复制到 data/config/ptdownload.json 并修改",
  "_warning": "此文件包含敏感信息(Cookie/密码)，不要提交到 git",
  "qbittorrent": {
    "enabled": true,
    "base_url": "http://192.168.1.100:8080",
    "username": "admin",
    "password": "your_password_here",
    "default_save_path": "/downloads/other",
    "verify_ssl": false
  },
  "save_paths": {
    "movie": "/downloads/movies",
    "tv": "/downloads/tv",
    "anime": "/downloads/anime",
    "documentary": "/downloads/documentary",
    "music": "/downloads/music",
    "other": "/downloads/other"
  },
  "pt_stations": [
    {
      "name": "馒头",
      "enabled": true,
      "search_url": "https://springsunday.net/torrents.php?search={keyword}",
      "search_method": "get",
      "headers": {
        "Cookie": "your_cookie_here"
      },
      "result_selector": "table.torrents tr",
      "field_mapping": {
        "title": "a[href*='details.php']",
        "download": "a[href*='download.php']",
        "size": "td:nth-child(5)",
        "seeders": "td:nth-child(6)"
      }
    }
  ]
}
